<div class="total-value">
  <p>Total spent: £<%= @transaction_value %></p>
</div>
<div class="items-control-bar">
  <a class="btn-new-item" href="/person/<%= @person.id %>/transactions/new"><p class="btn-new-p">New</p></a>
  <form action="/person/<%= @person.id %>/searchbytag" method="post">
    <select name="tag_id" id="tag-select">
      <% for tag in @tags %>
        <option value="<%= tag.id %>"><%= "#{tag.name}" %></option>
      <% end %>
    </select>
    <input type='submit' value="OK">
  </form>
</div>
<div class="items-container">
  <% for transaction in @transactions %>
    <div class="item">
      <div class="item-block">
        <div class="filler-left"></div>
          <p class="merchant_name"><%= "#{transaction.merchant_name}" %></p>
          <!-- Pretty ugly way to do this, should be refactored: -->
          <p class="value">£<%= "#{Transaction.pretty_value(transaction.value)}" %></p>
          <p class="tag"><%= "#{transaction.tag().name}" %></p>
          <div class="filler-right">
            <a class="btn-edit" href="/person/<%= @person.id %>/transactions/<%= transaction.id %>/update"><img class="btn-img" src="/images/pencil.png" alt="Edit"></a>

            <form action="/person/<%= @person.id %>/transactions/<%= transaction.id %>/delete" method="post">
                <button class="btn-delete"><img class="btn-img" src="/images/bin.png" alt="Delete"></button>
            </form>

            
          </div>
      </div>
    </div>
  <% end %>
</div>