<!-- Awkward to maintain this and search_by_tag.erb/search_by_date.erb side by side - should refactor -->
<div class="total-value">
  <p>Budget: £<%= @budget_value %></p>
  <p>Total spent: £<%= @transaction_value %></p>
  <% if @person.over_budget() %>
    <p class="p-over-budget">Remaining: £<%= @remaining_value %></p>
  <% else %>
    <p class="p-under-budget">Remaining: £<%= @remaining_value %></p>
  <% end %>
</div>

<div class="items-control-bar">
  <a class="btn-new-item" href="/person/<%= @person.id %>/transactions/new"><p class="btn-new-p">New</p></a>
  <hr />
  <form class="form-filter-by-tag" action="/person/<%= @person.id %>/transactions/searchbytag" method="post">
    <div class="label-filter-by-tag">
      <label class="form-label" for="tag-select">Filter by tag:</label>
    </div>
    <div class="input-filter-by-tag">
      <select class="input-tag" name="tag_id" id="tag-select">
        <% for tag in @tags %>
          <option value="<%= tag.id %>"><%= "#{tag.name}" %></option>
        <% end %>
      </select>
      <input class="submit-filter-by-tag" type='submit' value="OK">
    </div>
  </form>
  <hr />
  <form class="form-filter-by-date" action="/person/<%= @person.id %>/transactions/searchbydate" method="post">
    <div class="form-dates">
      <div class="input-start-date">
        <label class="date-form-label" for="start-date">Start date:</label>
        <input id="start-date" name="start_date" type="date">
      </div>
      <div class="input-end-date">
        <label class="date-form-label" for="end-date">End date:</label>
        <input id="end-date" name="end_date" type="date">
      </div>
    </div>
    <div class="submit-filter-by-date">
      <input type='submit' value="OK">
    </div>
  </form>
</div>

<div class="items-container">
  <% for transaction in @transactions %>
    <div class="item">
      <div class="item-block">
          <p class="merchant_name"><%= "#{transaction.merchant_name}" %></p>
          <!-- Pretty ugly way to do this, should be refactored: -->
          <p class="value">£<%= "#{Transaction.pretty_value(transaction.value)}" %></p>
          <p class="tag"><%= "#{transaction.tag().name}" %></p>
          <div class="date-time">
            <p class="date"><%= "#{Transaction.presentation_timestamp_date(transaction.timestamp)}" %> / </p>
            <p class="time"><%= "#{Transaction.presentation_timestamp_time(transaction.timestamp)}" %></p>
          </div>
          <div class="item-edit-controls">
            <a class="btn-edit" href="/person/<%= @person.id %>/transactions/<%= transaction.id %>/update"><img class="btn-img" src="/images/pencil.png" alt="Edit"></a>
            <form action="/person/<%= @person.id %>/transactions/<%= transaction.id %>/delete" method="post">
                <button class="btn-delete"><img class="btn-img" src="/images/bin.png" alt="Delete"></button>
            </form>
          </div>
      </div>
    </div>
  <% end %>
</div>