<div class="total-value">
  <p>Total spent on <%= @tag.name %>: £<%= @transaction_value %></p>
</div>
<form action="/person/<%= @person.id %>/searchbytag" method="post">
  <select name="tag_id" id="tag-select">
    <% for tag in @tags %>
      <% if tag.id == @tag.id %>
        <option value="<%= tag.id %>" selected><%= "#{tag.name}" %></option>
      <% else %>
        <option value="<%= tag.id %>"><%= "#{tag.name}" %></option>
      <% end %> 
    <% end %>
  </select>
  <input type='submit' value="OK">
</form>
<div class="items-container">
  <% for transaction in @transactions %>
    <div class="item">
      <div class="item-block">
        <div class="filler"></div>
          <p class="merchant_name"><%= "#{transaction.merchant_name}" %></p>
          <p class="value">£<%= "#{transaction.value}" %></p>
          <p class="tag"><%= "#{transaction.tag().name}" %></p>
        <div class="filler"></div>
      </div>
    </div>
  <% end %>
</div>